@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #0C151D;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0C151D;
  height: 100vh;
  color: white;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.Ufak-image {
  height: 40vmin;
  pointer-events: none;
  border-radius: 20px;
}

p{
  width: 50%;
  line-height: 2rem;
  font-size: 18px;
  border-left: 5px solid #EAB308;
  border-right: 5px solid #EAB308;
  padding-inline: 30px;
}

.Image-con{
  width: 350px;
  height: 250px;
  border-radius: 20px;
}

h1 {
  background: #171F26;
  margin-bottom: 80px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  padding-block: 25px;
}


@media (max-width: 800px) {
  .App{
      height: 100vh;
  }

   .intro {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     
   }
   p {
      width: 90%;
      font-size: 15px;
      border: none;
   }
   h1{
      font-size: 22px;
      width: 70%;
   }
   .Ufak-image{
    padding-block: 2rem;
    width: 200px;
    height: 250px;
   }

}